/literature
/prl_orbital_current_sim
/orbitronics

# Ignore any __pycache__ folder recursively
**/__pycache__/

# Ignore Python bytecode and compiled files
*.py[cod]
*$py.class

*.lattice


/large_image_files
**/.DS_Store
.DS_Store
/build
/realspace_tb.egg-info